{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'Log in' %} {% endblock %}
{% block content %}
<!-- <form method="post" action="/accounts/login/">
    {% csrf_token %}
    <p>
        <div>email:</div>
        <input id="id_username" type="text" name="username" maxlength="30" placeholder="username@mail.com"/>
    </p>
    <p>
        <div>Password:</div>
        <input type="password" name="password" id="id_password" />
    </p>
    <input type="submit" value="{% trans 'Log in' %}" />
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
</form> -->
<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <form method="post" action="" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
            <legend>{% trans 'Log in' %}</legend>
            {% if msg %}<div class="alert alert-success">{{ msg }}</div>{% endif %}
            {% for field in form %}
                <div class="form-group {% if field.errors %}error{% endif %}">
                    <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
                    <div class="col-sm-10">
                        {{ field }}
                        {% for err in field.errors %}
                            <div class="alert alert-danger">{{ err }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">{% trans 'Log in' %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}