a.shop{
    color: inherit;
    display: block;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
    padding-top: 20px;
}
a.shop:hover{
    background: rgba(0, 0, 0, 0.1);
}
select#id_post, label[for="id_post"]{
    display: none;
}
ul.sortable{
    padding-left: 0;
}
ul.sortable li div{
    display: inline-block;
    /*height: 50px;*/
    /*line-height: 10px;*/
    margin: 15px;
    margin-right: 70px;
}
ul.sortable li div.handle{
    margin: 20px;
    /*font-size: 25px;*/
}
ul.sortable li{
    list-style: none;
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*padding: 5px;*/
    /*margin: 15px;*/
    border-bottom: 1px solid #e7e7e7;
}
ul.sortable li:hover{
    background: #e7e7e7;
}
