#map-container{
    height: 550px;
    margin-bottom: 20px;
    font-family: 'UltimaPro';
    width:1080px;
    position: relative;
}
#map{
    position:absolute !important;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding: 0;
}
.leaflet-control-container .uiElement.label{
    color:#000;
}
.map-shop-title{
    text-transform: uppercase;
    /*width: 80px !important;*/
    font-size: 9px;
    text-align: center;
    color:#fff;
    line-height: 10px;
}
#map.zoom3 .map-shop-title > div, #map.zoom3 .map-shop-title{
    font-size: 16px !important;
    line-height: 1.2;
}
#map.zoom4 .map-shop-title > div, #map.zoom4 .map-shop-title{
    font-size: 31px !important;
    line-height: 1.2;
}
.map-shop-title .rotated-title{
	/*width: inherit !important; */
	-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-o-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);
}
.map-shop-title.grey{
    color:#777779;
}
.leaflet-control-attribution.leaflet-control{
	display: none;
}

.leaflet-top.leaflet-right.custom-zoom .leaflet-control-zoom.leaflet-bar.leaflet-control a,
.leaflet-top.leaflet-right.custom-zoom .leaflet-control-zoom.leaflet-bar.leaflet-control a:hover{
    background: rgba(0, 0, 0, 0.8);
    width: 60px;
    height: 60px;
    line-height: 57px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.leaflet-top.leaflet-right.custom-zoom{
	top:40%;
    right:4%;
}
.leaflet-control-layers.custom-layer-control .leaflet-control-layers-list{
    display: block;
}
.leaflet-control-layers.custom-layer-control .leaflet-control-layers-toggle{
    display: none;
}
.leaflet-bottom.leaflet-left.custom-control-center{
    left:37%;
}
.custom-layer-control .leaflet-control-layers-base label{
    display: inline-block;
    width: 150px;
    height: 30px;
    margin: 5px;
    line-height: 27px;
    font-size: 20px;
    border-radius: 20px;
    border:2px transparent solid;
    background: rgba(0, 0, 0, 0.8);
    color:#fff;
    text-transform: uppercase;
}
.custom-layer-control .leaflet-control-layers-base label:hover{
    background: #fff;
    border-color: #3ca5a9;
    color:#3ca5a9;
}
.custom-layer-control .leaflet-control-layers-base label input[type=radio]{
    display: none;
}
.custom-layer-control{
    padding: 5px; 
    background: transparent;
    box-shadow: none;   
}
.legend-container{
   right: 37%;
}
.legend a:hover, .legend a.active{
    background: #3ca5a9;
}

/*new styles*/
@font-face {
    font-family: 'UltimaPro';
    src: url('../fonts/UltimaPro.eot');
    src: url('../fonts/UltimaPro.woff') format('woff'), url('../fonts/UltimaPro.ttf') format('truetype'), url('fonts/UltimaPro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.leaflet-container{
    font-family: 'UltimaPro';
}
.leaflet-container a.leaflet-popup-close-button{
    display: none;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background: #000;
}
.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: center;
    border-radius: 0px; 
    width: 180px;
    height: 125px;
}
.leaflet-popup-content {
    line-height: 1.0;
    width: inherit !important;
    margin: 0px;
    /*text-align: center;*/
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
}
.navigate, .shop-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
.navigate{
    background: url(../img/pin_nav.png) no-repeat;
}
.shop-link{
    background: url(../img/pin_shop.png) no-repeat;
    margin-right: 0px;
}
.shop-title{
    margin-top: 15px;
    margin-bottom: 15px;
}



.legend-container{
    left:30%;
    right: 0;
}
.leaflet-top.leaflet-right.custom-zoom .leaflet-control-zoom.leaflet-bar.leaflet-control a{
    border-radius: 0px;
}
.leaflet-bottom.leaflet-left.custom-control-center{
    left:19%;
}
.custom-layer-control .leaflet-control-layers-base label{
    width: 300px;
    height: 80px;
    line-height: 65px;
    font-size: 31px;
    border: 7px transparent solid;
    border-radius: 40px;
}
.user-position-button{
    width: 80px;
    height: 80px;
    line-height: 40px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.8);
    margin-right: 45px !important;
}
.user-position-button .outer-circle{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    border: 4px solid #fff;
    margin-left: 15px;
    margin-top: 15px;
}
.user-position-button .outer-circle .inner-circle{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #fff;
    margin-left: 6px;
    margin-top: 6px;
}
.legend a {
    display: inline-block;
    width: 200px;
    height: 80px;
    line-height: 83px;
    font-size: 27px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    margin-right: 10px;
    font-family: UltimaPro;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
}
.legend-container.leaflet-top .leaflet-control{
    margin-top: 0px;
}