/* Form Line */
.form_line
{
	/*background-image: url("../img/form_line_bg.jpg");*/
	background: #fff;
    background-position:center top;
    background-repeat:repeat-x;
	height:426px;
	border-top:1px solid #ffffff;
	margin-bottom: 20px;
}

.content_block
{
	width:950px;
	margin:25px auto 0px;
}

.form_block
{
	width:950px;
	margin:0px auto;
}

.keyboard
{
	width:950px;
	margin-left:2px;
	margin-top:11px;
	display: inline-block;
}

.keyboard_top
{
	width:950px;
	height:9px;
	/*background-image: url("../img/keyboard_top.png");*/
    background-position:left top;
    background-repeat:no-repeat;
}

.keyboard_bottom
{
	width:950px;
	height:12px;
	/*background-image: url("../img/keyboard_bottom.png");*/
    background-position:left bottom;
    background-repeat:no-repeat;
}

.keyboard_center
{
	width:950px;
	display:inline-block;
    min-height:170px;
	/*background-image: url("../img/keyboard_center.png");*/
    background-position:left top;
    background-repeat:repeat-y;
}


.keyboard_content
{
	margin-right:9px;
    width:950px;
	float:right;
}

.second_line
{
	margin-top:6px;
}

	.keyboard_content .key_button
	{
		display:block;
		float:right;
		margin-left:10px;
		border:1px solid #b7baba;
		/*background-image: url("../img/key_button_bg.png");
		background-position:left top;
		background-repeat:repeat-x;
		background-color:#e3e3e3;*/
		background-color:#000;
		color:#fff;
		height:62px;
		width:62px;
		text-align:center;
		line-height:59px;
		/*color:#6d6b6f;*/
		font-size:20px;
		border-radius:10px;
		-moz-border-radius:3px;
		webkit-border-radius:3px;
		behavior: url(ie-css3.htc);
		text-align:center;
		 text-transform:uppercase; 
	}
	
	.keyboard_content .key_button:hover
	{
		background-image:none;
		background-color:#ffffff;
		border:1px solid #cfd4d4;
		color:#a6a1ac;
	}
	
	.keyboard_content .key_button:active
	{
		background-position:left bottom;
		/*background-image: url("../img/key_button_bg.png");*/
		background-repeat:repeat-x;
		background-color:#000;
		color:#fff;
		/*border:1px solid #b7baba;*/
	}
	
	.keyboard_content .key_clear
	{
		display:block;
		float:right;
		margin-left:4px;
		/*background-image: url("../img/clear_bg.png");*/
		background-position:left top;
		background-repeat:no-repeat;
		background-color:transparent;
		height:31px;
		width:64px;
		text-align:left;
		line-height:31px;
		color:#ffffff;
		font-size:12px;
		text-align:left;
		border:medium none;
		/* text-transform:uppercase; */
	}
	
	.keyboard_content .key_clear:hover
	{
		background-image: url("../img/clear_bg_hv.png");
		border:medium none;
	}
	
	.keyboard_content .key_clear:active
	{
		background-position:left bottom;
		background-image: url("../img/clear_bg_act.png");
		background-repeat:no-repeat;
		background-color:transparent;
		color:#ffffff;
		border:medium none;
	}
	
	.keyboard_content .key_clear .clear_left 
	{
		display: block;
		float: left;
		height: 31px;
		margin-left: 6px;
		text-transform: none;
		width: 58px;
	}
	
	.keyboard_content .key_clear:hover .clear_left 
	{
		color:#ebebeb;
		background-color:transparent;
	}
	
	.keyboard_content .key_clear:active .clear_left 
	{
		color:#fff4a7;
		background-color:transparent;
	}
	
	.keyboard_content .key_caps
		{
			width:75px;
			text-align:left;
		}
		
		.keyboard_content .key_caps .caps_left
		{
			display:block;
			float:left;
			height:29px;
			margin-left:6px;
			width:53px;
			text-transform:none;
		}
		
		.keyboard_content .key_caps .caps_right
		{
			display:block;
			float:left;
			height:29px;
			width:10px;
			/*background-image: url("../img/caps_bg.png");*/
			/*background-position:left top;*/
			/*background-repeat:no-repeat;*/
		}

		
			.keyboard_content .key_button:hover .caps_right
			{
				background-image: url("../img/caps_bg_hv.png");
			}
			
			.keyboard_content .key_button:active .caps_right
			{
				background-position:left bottom;
			}
			
	.keyboard_content .key_shift
		{
			width:89px;
			text-align:left;
		}
		
		.keyboard_content .key_shift .shift_right
		{
			display:block;
			float:left;
			height:29px;
			margin-left:4px;
			width:70px;
			text-transform:none;
		}
		
		.keyboard_content .key_shift .shift_left
		{
			display:block;
			float:left;
			height:29px;
			width:13px;
			background-image: url("../img/shift_bg.png");
			background-position:right top;
			background-repeat:no-repeat;
		}
		
			.keyboard_content .key_button:hover .shift_left
			{
				background-image: url("../img/shift_bg_hv.png");
			}
			
	.keyboard_content .key_ctrl
		{
			width:63px;
			text-align:left;
		}
		
		.keyboard_content .key_ctrl .ctrl_left
		{
			display:block;
			float:left;
			height:29px;
			margin-left:4px;
			width:50px;
			text-transform:none;
		}
		
	.keyboard_content .key_space
	{
		width:650px;
		text-transform:uppercase;
	}
	
	.text_block
	{
		background-image: url("../img/text_block_bg.png");
		background-position:left top;
		background-repeat:no-repeat;
		width:478px;
		max-width:478px;
		height:64px;
		margin-top:10px;
		display: inline-block;
	}
	
		.text_block textarea
		{
			border:medium none;
			background-color:#ffffff;
			width:417px !important;
			height:48px !important;
			display:block;
			float:left;
			margin-top:10px;
			margin-left:11px;
			font-size:14px;
			color:#3b3b3b;
			resize:none;
		}

	.delete_btn
	{
		display:inline-block;
		float:right;
		width:39px;
		height:64px;
		background-image: url("../img/delete_btn_bg.png");
		background-position:right top;
		background-repeat:no-repeat;
		outline:none;
	}
	
		.delete_btn:hover
		{
			background-image: url("../img/delete_btn_bg_hv.png");
		}
		
		.delete_btn:active
		
		{
			background-image: url("../img/delete_btn_bg_act.png");
		}
		
		
	.delete_btn2 
	{
		background-image: url("../img/delete_btn2_bg.png");
		background-position: left top;
		background-repeat: no-repeat;
		display: inline-block;
		float: left;
		height: 64px;
		outline: medium none;
		width: 39px;
	}
	
		.delete_btn2:hover
		{
			background-image: url("../img/delete_btn2_bg_hv.png");
		}
		
		.delete_btn2:active
		
		{
			background-image: url("../img/delete_btn2_bg_act.png");
		}
			
	.form_block .line
	{
		width: 476px;
		display:inline-block;
		float:left;
	}
	
	.shift_check
	{
		background-image: url("../img/shift_check_bg.png");
		background-position:left top;
		background-repeat:no-repeat;
		width:79px;
		height:23px;
		padding-left: 9px;
		padding-top: 6px;
		display: inline-block;
		float:left;
	}
		
	.shift_check label
	{
		color:#6d6b6f;
		font-size:15px;
		vertical-align: baseline;
	}
	
	.line select
	{
		display:block;
		float:right;
		width:133px;
		height:29px;
		border-radius:3px;
		-moz-border-radius:3px;
		webkit-border-radius:3px;
		behavior:url(ie-css3.htc);
		border:1px solid #acafaf;
		padding: 3px 3px 3px 3px;		
		font-size:14px;
		font-weight:bold;
		color:#6d6b6f;
	}
	
	
.post_line
{
	margin-top:15px;
	display: inline-block;
    float: left;
    width: 476px;
}

	.post_line  .clear_button 
	{
		background-color: #E3E3E3;
		background-image: url("../img/clear_button_bg.png");
		background-position: left top;
		background-repeat: repeat-x;
		border: 1px solid #B7BABA;
		border-radius: 3px 3px 3px 3px;
		-moz-border-radius: 3px 3px 3px 3px;
		webkit-border-radius: 3px 3px 3px 3px;
		behavior: url(ie-css3.htc);
		color: #6D6B6F;
		display: block;
		float: left;
		font-size: 16px;
		height: 38px;
		line-height: 38px;
		margin-right: 4px;
		text-align: center;
		width: 164px;
	}
	
		.post_line  .clear_button:hover
	{
		background-image:none;
		background-color:#ffffff;
		border:1px solid #cfd4d4;
		color:#a6a1ac;
	}
	
	.post_line  .clear_button:active
	{
		background-color: #E3E3E3;
		background-image: url("../img/clear_button_bg.png");
		background-position: left bottom;
		background-repeat: repeat-x;
		border: 1px solid #B7BABA;
	}
	
	.post_line  .post_select 
	{
		background-color: #E3E3E3;
		background-image: url("../img/post_select_bg.png");
		background-position: top left;
		background-repeat: no-repeat;
		color: #ffffff;
		display: block;
		float: left;
		font-size: 18px;
		height: 41px;
		line-height: 41px;
		width:304px;
		border:0px;
		text-indent: 15px;
	}
	
	
	.post_buttons .post 
	{
		display:block;
		float:left;
		width: 92px;
		height:86px;
		text-align:center;
		background-image:none;
		font-size: 14px;
		font-weight:bold;
		color:#1d5ca2;
	}
	
	.post_buttons .post span.first
	{
		background-image:none;
	}
	
	.post_buttons .post span
	{
		background: url("../img/post_bg.png") no-repeat scroll left top transparent;
		display: block;
		float: left;
		height: 70px;
		margin-top: 10px;
		text-align: center;
		width: 92px;
		padding-top:10px;
	}
	
	.post_buttons .post:hover 
	{
		background:url(../img/post_bg_hv.png) left center repeat-x transparent;
		color:#6D6B6F;
	}
	
	.post_buttons .post:active 
	{
		background:url(../img/post_bg_act.png) left center repeat-x transparent;
	}
	
	.disable_btn, .disable_btn:hover, .disable_btn:active
	{
		color:#c8c4c4 !important;
		background-image:none !important;
	}
	

/* End of Form Line */


/*new css*/
