.container{
    width: 1080px;
}
/*@font-face{
    font-family: 'UltimaPro';
    src:  local('UltimaPro'), local('UltimaPro'), url(../fonts/UltimaPro.otf) format('otf');
}
@font-face{
    font-family: 'UltimaPro-Bold';
    src:  local('UltimaPro-Bold'), local('UltimaPro-Bold'), url(../fonts/UltimaPro-Bold.otf) format('otf');
}
@font-face{
    font-family: 'UltimaPro-BoldItalic';
    src:  local('UltimaPro-BoldItalic'), local('UltimaPro-BoldItalic'), url(../fonts/UltimaPro-BoldItalic.otf) format('otf');
}
@font-face{
    font-family: 'UltimaProBlack';
    src:  local('UltimaProBlack'), local('UltimaProBlack'), url(../fonts/UltimaProBlack.otf) format('otf');
}
@font-face{
    font-family: 'UltimaProBlack-BlackItalic';
    src:  local('UltimaProBlack-BlackItalic'), local('UltimaProBlack-BlackItalic'), url(../fonts/UltimaProBlack-BlackItalic.otf) format('otf');
}
@font-face{
    font-family: 'UltimaProLt';
    src:  local('UltimaProLt'), local('UltimaProLt'), url(../fonts/UltimaProLt.otf) format('otf');
}
@font-face{
    font-family: 'UltimaPro-Italic';
    src:  local('UltimaPro-Italic'), local('UltimaPro-Italic'), url(../fonts/UltimaPro-Italic.otf) format('otf');
}*/
@font-face {
    font-family: 'UltimaProLt';
    src: url('../fonts/UltimaProLt.eot');
    src: url('../fonts/UltimaProLt.woff') format('woff'), url('../fonts/UltimaProLt.ttf') format('truetype'), url('fonts/UltimaProLt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UltimaProLt-Italic';
    src: url('../fonts/UltimaProLt-Italic.eot');
    src: url('../fonts/UltimaProLt-Italic.woff') format('woff'), url('../fonts/UltimaProLt-Italic.ttf') format('truetype'), url('fonts/UltimaProLt-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UltimaProBlack';
    src: url('../fonts/UltimaProBlack.eot');
    src: url('../fonts/UltimaProBlack.woff') format('woff'), url('../fonts/UltimaProBlack.ttf') format('truetype'), url('fonts/UltimaProBlack.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UltimaProBlack-BlackItalic';
    src: url('../fonts/UltimaProBlack-BlackItalic.eot');
    src: url('../fonts/UltimaProBlack-BlackItalic.woff') format('woff'), url('../fonts/UltimaProBlack-BlackItalic.ttf') format('truetype'), url('fonts/UltimaProBlack-BlackItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UltimaPro-Italic';
    src: url('../fonts/UltimaPro-Italic.eot');
    src: url('../fonts/UltimaPro-Italic.woff') format('woff'), url('../fonts/UltimaPro-Italic.ttf') format('truetype'), url('fonts/UltimaPro-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UltimaPro-BoldItalic';
    src: url('../fonts/UltimaPro-BoldItalic.eot');
    src: url('../fonts/UltimaPro-BoldItalic.woff') format('woff'), url('../fonts/UltimaPro-BoldItalic.ttf') format('truetype'), url('fonts/UltimaPro-BoldItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UltimaPro-Bold';
    src: url('../fonts/UltimaPro-Bold.eot');
    src: url('../fonts/UltimaPro-Bold.woff') format('woff'), url('../fonts/UltimaPro-Bold.ttf') format('truetype'), url('fonts/UltimaPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UltimaPro';
    src: url('../fonts/UltimaPro.eot');
    src: url('../fonts/UltimaPro.woff') format('woff'), url('../fonts/UltimaPro.ttf') format('truetype'), url('fonts/UltimaPro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.carousel img{
	display: block;
	margin:0 auto;
	width: 100%;
}

.entry{
    min-height: 370px;
}

/*////////////////////////*/
a:hover{
    text-decoration: none;
    color:inherit;
}
body{
    padding: 0;
    margin: 0;
    text-align: center;
    /*background: url('../img/background-big-2.png');*/
    /*background-repeat: repeat-x;*/
    /*background-position: -762px 46px;*/
    font-family: 'UltimaPro';
}
body.main #content{
    background: url('../img/background-big-2.png');
    background-repeat: repeat-x;
    background-position: -762px -552px;
}
#content{
    width: 1080px;
    display: inline-block;
    /*min-height: 1920px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
}
.wrapper{
    width: 1080px;
    margin:0 auto;
}
#header{
    width: 1080px;
    height: 440px;
    /*background: url('../img/header.jpg') no-repeat;*/
    display: inline-block;
    /*margin-bottom: -7px;*/
}
#logo{
    width: 601px;
    height: 63px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: url('../img/logo.png') no-repeat;
    display: inline-block;
}
ul.wlc-catalog li{
    display: inline-table;
    font-size: 34px;
    font-family: 'UltimaPro';
    width: 320px;
    height: 270px;
    margin-top: 64px;
    max-width: 320px;
    text-transform: uppercase;
}
ul.wlc-catalog p{
    padding-top: 24px;
    line-height: 41px;
}
ul.wlc-catalog{
    padding: 0;
    position: relative;
    z-index: 10;
    margin: 0 0 23px;
    /*background: #fff;*/
    margin-top: -7px;
}
#navigator{
    width: 960px;
    display: inline-block;
    height: 81px;
    background-color: #000000;
    padding: 0;
    margin: 25px 0 0;
    position: relative;
    z-index: 10;
}
ul#navigator li{
    font-family: UltimaPro;
    display: block;
    float: left;
    font-size: 30px;
    height: 81px;
    line-height: 90px;
    color: #ffffff;
    width: 428px;
    text-transform: uppercase;
}
ul#navigator li a{
    color:#fff;
}
ul#navigator li a:hover{
    color:#51cbd5;
    text-decoration: none;
}
ul#navigator li.search-icon{
    width: 103px;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    /*background: url('../img/search-icon.png') no-repeat 25px 17px;*/
}
ul#navigator li.search-icon.active{
    background: #61CCD6;
}
ul#socials{
    text-align: left;
    font-size: 20px;
    padding: 0;
    display: inline-block;
    margin: 0 auto;
    font-family: 'UltimaProLt';
    position: relative;
    margin-top: 50px;
    margin-bottom: 71px;
    width: 1080px;
}
ul#socials li{
    float: left;
    display: block;
    width: 330px;
    list-style-type: none;
    /*margin-left: 10px;*/
    margin-right: 20px;
}
ul#socials li img, ul#socials li p{
    float: left;
}
ul#socials li img{
    width: 60px;
}
ul#socials li p{
    width: 410px;
    padding-left: 10px;
    line-height: 28px;
    padding-top: 3px;
    margin: 0;
}
.square1, .square2, .square3{
    position: absolute;
    border: 20px solid #61cbd5;
    border-radius: 160px;
    z-index: -998;
}
.square1{
    width: 713px;
    height: 672px;
    left: 110%;
}
.square2{
    width: 1000px;
    height: 672px;
    top: 110%;
}
.square3{
    width: 713px;
    height: 356px;
    left: -110%;
}
.hz{
    position: inherit;
}
/*#squares{*/
    /*background: url('../img/background-big-2.png');*/
    /*background-repeat: repeat-x;*/
    /*background-position: -587px 46px;*/
    /*height: 1680px;*/
    /*position: relative;*/
    /*margin-bottom: -1680px;*/
/*}*/
.squares{
    position: absolute;
}
.my-indicator{
    width: 100px!important;
    height: 100px!important;
    text-indent: 0!important;
    border-radius: 50px!important;
    font-size: 40px!important;
    line-height: 84px!important;
    border: none;
    background-color: #5d5d5d!important;
    color: #61cbd5;
    width: 80px!important;
    height: 80px!important;
    margin-left: 20px!important;
    margin-right: 20px!important;
    position: relative;
    z-index: 10;
}
.gallery .my-indicator.active{
    background-color:#61cbd5!important;
    color: #fff;
}
.gallery .my-indicator{
    background-color:#5d5d5d!important;
}
.my-indicator.active{
    background-color: #ffffff!important;
    /*border: 10px solid #61cbd5;*/
    /*width: 100px!important;
    height: 100px!important;*/
}
a.shop{
    width: 220px;
    height: 260px;
    display: inline-table;
    margin: 10px;
    background-color: #ffffff;
    border: none;
    text-decoration: none;
    position: relative;
    z-index: 10;
    text-transform: none;
    font-family: UltimaProLt;
    line-height: 36px;
    padding-right: 10px;
    padding-left: 10px;
}
a.shop img{
    width: 64px;
    height: 64px!important;
    margin-bottom: 40px;
    margin-top: 70px;
}
a.shop p{
    font-size: 30px;
}
div.carousel-inner.shops{
    /*background-color: #e9e9e9;*/
    text-align: center;
    font-family: 'UltimaPro';
    text-transform: uppercase;
    min-height: 560px;
}
ol.carousel-indicators.shops{
    /*background-color: #e9e9e9;*/
    left: inherit;
    z-index: inherit;
    text-align: inherit;
    list-style: none;
    position: relative;
    display: inline-block;
    bottom: inherit;
    width: 100%;
    padding: 50px 0 70px;
    margin: 0 0 10px;
    min-height: 230px;
}
body.with-background div#carousel-example-generic.carousel.slide.shops{
    /*background-color: #e9e9e9;*/
    background-image: url('../img/background-big-2.png');
    background-repeat: repeat-x;
    background-position: 445px -536px;
}
div#carousel-example-generic.carousel.slide.shops{
    width: 1080px;
    background-color: #e9e9e9;
    
    display: inline-block;
}
.test{
    display: inline-block;
    width: 1080px;
    overflow: hidden;
    position: relative;
    padding-bottom: 78px;
}
.back-btm{
    font-size: 40px;
    float: left;
    line-height: 61px;
    color: #777777;
    position: relative;
    z-index: 10;
    margin-left: 53px;
    margin-top: 45px;
    text-transform: uppercase;
    font-family: UltimaPro;
}

.back-btm img{
    width: 36px;
    height: 36px;
    float: left;
    margin-top: 8px;
}
.page-title{
    /*margin: 0 auto;*/
    font-size: 40px;
    line-height: 72px;
    display: inline-block;
    color: #303030;
    margin-bottom: 60px;
    position: relative;
    z-index: 10;
    /*max-width: 390px;*/
    margin-right: 223px;
    /*margin-left: -190px;*/
    text-transform: uppercase;
    font-family: UltimaPro;
    margin-top: 40px;
}
.page-title.by-cat img{
    margin-top: 10px;
}
.page-title img{
    width: 68px;
    height: 68px;
    float: left;
    margin-right: 15px;
    margin-top: 0px;
}
a{
    color: #333;
}
/*.my-month{*/
    /*min-height: 100px;*/
    /*line-height: 70px;*/
/*}*/
div.events{
    position: relative;
    z-index: 10;
}
div#calendar{
    background-color: rgba(255, 255, 255, 0.75);
}
#cal-slide-content, .unstyled{
    text-align: left;
    list-style-type: none;
}
#cal-day-box{
    right: 0!important;
    width: 100%!important;
    height: 21px!important;
    margin-right: 0!important;
    margin-top: -1px;
}
/*div.cal-cell{*/
    /*border-right: 1px solid #999999!important;*/
/*}*/
/*div.cal-row-fluid, .cal-month-box{*/
    /*border: none;*/
/*}*/
/*div.cal-row-fluid{*/
    /*border-bottom: 1px solid #999999!important;*/
/*}*/
.dh-Red, .Red{
    background-color: rgba(255, 0, 0, 0.25)!important;
}
.dh-Blue, .Blue{
    background-color: rgba(0, 0, 255, 0.25)!important;
}
.dh-Green, .Green{
    background-color: rgba(0, 255, 0, 0.25)!important;
}
.dh-Yellow, .Yellow{
    background-color: rgba(255, 255, 0, 0.25)!important;
}
.dh-Pink, .Pink{
    background-color: rgba(245, 0, 187, 0.25)!important;
}
.dh-Orange, .Orange{
    background-color: rgba(255, 165, 0, 0.25)!important;
}
.dh-Cyan, .Cyan{
    background-color: rgba(0, 255, 255, 0.25)!important;
}
.dh-DarkCyan, .DarkCyan{
    background-color: rgba(0, 139, 139, 0.25)!important;
}
.dh-DeepSkyBlue, .DeepSkyBlue{
    background-color: rgba(0, 191, 255, 0.25)!important;
}
.dh-MediumSlateBlue, .MediumSlateBlue{
    background-color: rgba(123, 104, 238, 0.25)!important;
}
div.cat-shop{
    width: 960px;
    display: inline-block;
    border-bottom: 2px solid #ffffff;
    height: 103px;
    font-family: UltimaPro;
    text-transform: none;
    padding-left: 31px;
    padding-right: 31px;
    position: relative;
    z-index: 10;
    font-size: 40px;
    color: #000000;
    float: left;
    line-height: 88px;
    margin-left:55px;
}
div.cat-shop a{
    float: left;
    display: inline-block;
}
div.cat-shop a.floor-link{
    display: inline-block;
    font-size: 30px;
    color: #777777;
    float: right;
    line-height: 93px;
    position: relative;
    z-index: 10;
}
div.shops-navigation{
    width: 420px;
    display: inline-block;
    height: 84px;
    font-size: 27px;
    font-family: UltimaPro;
    text-transform: uppercase;
    margin-bottom: 10px;
}
a.shop-nav-btm{
    background-color: #2f2f2f;
    color: #ffffff;
    width: 202px;
    height: 80px;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    line-height: 85px;
    margin-top: 4px;
    position: relative;
    z-index: 10;
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
}
a.shop-nav-btm.active, a.shop-nav-btm:hover{
    /*margin-top: 0;*/
    background-color: #7cd1d9;
}
.page-title.by-cat{
    /*font-size: 30px;*/
    text-transform: none;
    max-width: 500px;
    text-align: left;
    line-height: 50px;
    margin-right: 80px;
    margin-top: 30px;
}
.shop-content{
    font-size: 20px;
    line-height: 26px;
    position: relative;
    font-family: 'UltimaPro';
}
.shop-content .gallery-link:hover{
    text-decoration: none;
}
.shop-content .page-title.by-cat{
    text-align: center;
    margin-top: 31px;
    font-size: 40px;
    color:#000;
    text-transform: uppercase;
}
.map-content .page-title.by-cat{
    text-align: left;
    margin-top: 30px;
    font-size: 40px;
    color:#000;
    text-transform: none;
    margin-right: 20px;
}
.back-btm:hover{
    color:#777777;
}
.white-title .page-title.by-cat, .shop-content .white-title .back-btm{
    color:#fff;
}
.shop-content .page-title{
    margin-bottom: 40px;
}
.shop-content .back-btm{
    /*line-height: 37px;*/
    /*color:#000;*/
    margin-top: 30px;
    margin-left: -25px;
}
.shop-content .back-btm img{
    /*margin-top: 2px;*/
}
.shop-content .gallery-link{
    display: block;
    color: #777777;
    margin-top: 83px;
    /* margin-left: 20px; */
    text-align: center;
    width: 130px;
}
.shop-content .row.shop-info>div{
    text-align: left;
    background: #fff;
    min-height: 525px;
    padding: 30px;
    padding-bottom: 5px;
}
.row.news-sales{
    margin-top: 10px;
    padding-bottom: 30px;
    z-index: 10;
    position: relative;
    margin-right: -20px;
    margin-left: -20px;
}
.shop-content .row.news-sales>div{
    background: #fff;
    min-height: 230px;
    padding: 30px;
}
.category-info{
    color: #777777;
    font-size: 30px;
    min-height: 60px;
    margin-bottom: 20px;
}
.category-info span{
    vertical-align: middle;
}
.title{
    font-size: 40px;
    margin-bottom: 20px;
}
.news-sales .title{
    text-align: left;
    color: #61cbd5;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 32px;
    margin-top: 5px;
}
.news-sales .news{
    color:#777777;
    line-height: 26px;
    text-align: left;
    padding-left: 30px;
    font-size: 20px;
}
.gallery{
    height: 800px;
}
.shop-content.news .title{
    min-height: inherit !important;
    margin-bottom: inherit !important;
    padding: inherit ;
}
.news-item .news-title a{
    color: #777777;
    font-size: 40px;
}
.news-item .news-title{
    margin-top: 10px;
    color:#777777;
    font-size: 37px;
}
.news-item{
    text-align: left;
    font-size: 23px;

}
.news-item .date{
    color: #777777;
    margin-bottom: 20px;
    margin-top: 10px;
}
.news-text{
    line-height: 30px;
}
.shop-content.news .row.news-sales{
    background: #fff;
}
.shop-card{
    display: block;
    background: #61cbd5;
    width: 450px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-top: 40px;
}
.shop-card:hover{
    color:#fff;
    text-decoration: none;
}
.news-link, .news-link:hover{
    color: inherit;
    text-decoration: none;
}
.title.gallery-title{
    text-align: center;
    color:#777777;
    margin-top: 20px;
    line-height: 30px;
    font-size: 38px;
}
.row.news-sales.gallery>div{
    /*padding: inherit;*/
    padding: 15px 15px 0 15px;
    min-height: inherit;
}
.shop-content .row.news-sales>div.shops-navigation{
    min-height: inherit;
    padding: 0px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
div.shops-navigation a, div.shops-navigation a:hover{
    color:#fff;
}
.footer-marquee div{
    padding-top: 10px;
    display: inline-block;
    max-width:350px;
    /*width: 350px;*/
    font-family: 'UltimaProLt';
    font-size: 18px;
    float: left;
    overflow: hidden;
}
.marquee-wrapper{
    margin-top: 76px;
    margin-bottom: 10px;
    line-height: 21px;
    width: 1080px; 
    overflow: hidden;
}
.marquee-wrapper div{
    display: inline-block;
    height: 60px;
}
.marquee-wrapper div img{
    margin: 5px;
    margin-top: -5px;
    margin-right: 20px;
}
.footer-marquee img{
    float: left;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
}
.shop-info .left-col div{
    text-align: center;
    color: #777777;
    width: 130px;
}
.bg-shop{
    z-index: -2;
    background: url('../img/background-big-2.png');
    background-repeat: repeat-x;
    background-position: 210px -520px;
    height: 1180px;
    margin-bottom: -190px;
}
.shop-info{
    position: relative;
    z-index: 10;
    margin-left: -20px;
    margin-right: -20px;
}
.shops{
    margin-top: -7px;
}
.page-title.by-cat.search{
    max-width: 700px;
    margin-right: 0px;
}
input.search-submit{
    margin-left: 30px;
    background: transparent;
    outline-style: none;
    border: 0;
    text-transform: uppercase;
    font-size: 40px;
    color:#777777;
}
input#textarea{
    border-radius: 35px;
    border-style: none;
    background: #000;
    color: #fff;
    outline-style: none;
    width: 520px;
    text-align: left;
    padding-left: 10px;
}
.carousel-inner.shops.search-carousel{
    min-height: inherit;
}
.about .carousel-inner.shops.search-carousel{
    /*max-height: 560px;*/
    min-height: inherit;
}
.about .carousel{
    width: 810px;
    margin: 0 auto;
}
.about .carousel{
    min-height: 330px;
}
.about .carousel-indicators li{
    background: rgba(0, 0, 0, 0.7);
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 30px;
    border:none;
    margin-bottom: 10px;
}
.about .carousel-indicators li.active{
    background-color: #fff;
}
.about .carousel-inner>.item{
    text-align: left;
    min-height: 512px;
    background: #fff;
    padding: 20px;
    margin-bottom: 200px;
    font-size: 25px;
    line-height: 35px;
}
.about .back-btm, .about .page-title.by-cat{
    color:#fff;
}
.about .item h2{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.about .item {
    
}
.events .news-title, .events .date{
    display: inline-block;
}
.events .page-title.by-cat{
    max-width: 560px;
    margin-left: 90px;
}
.month-links{
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 110px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    /*border: 5px solid #61CCD6;*/
    color:#fff;
    font-size: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 40px;
}
.month-links:hover{
    background: #fff;
    color:#61CCD6;
    /*border: 5px solid #fff;*/
}
.image-wrapper{
    display: inline-block;
    margin: 10px;
    float: left;
}