{#% extends "base.html" %#}
{% load i18n %}
{#% block title %}Поиск{% endblock %#}
{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/keyboard.css" type="text/css" media="screen, projection" />
<style type="text/css">
a#lang-switcher{
    display:block;
    float:right;
    margin-left:4px;
    border:1px solid #b7baba;
    /*background-image: url("../img/key_button_bg.png");
    background-position:left top;
    background-repeat:repeat-x;
    background-color:#e3e3e3;*/
    background-color:#000;
    color:#fff;
    height:59px;
    width:100px;
    text-align:center;
    line-height:59px;
    /*color:#6d6b6f;*/
    font-size:20px;
    border-radius:3px;
    -moz-border-radius:3px;
    webkit-border-radius:3px;
    behavior: url(ie-css3.htc);
    text-align:center;
}
a#lang-switcher:hover
{
  background-image:none;
  background-color:#ffffff;
  border:1px solid #cfd4d4;
  color:#a6a1ac;
}
.keyboard_content .key_clear{
  background-color: #000;
  text-align: center;
  height: 58px;
  width: 90px;
  line-height: 58px;
  text-transform: uppercase;
  background-image: none;
  font-size: 20px;
}
.keyboard_content .key_clear:hover{
  background-color:#fff; 
  background-image: none;
  border: 1px solid #cfd4d4;
}
.keyboard_content .key_clear .clear_left{
  margin-left: 0px;
  width: inherit;
}
.keyboard_content .key_space{
  width: 590px;
}
.keyboard_content .key_caps{
  width: 115px;
  text-align: center;
  height: 60px;
  line-height: 30px;
}
.keyboard_content .key_caps .caps_left{
  width: inherit;
  display: inline-block;
  float: inherit;
}
.keyboard_content .key_button:hover{
  border: 1px solid #b7baba;
  background-color: #000;
  color: #fff;
}
.keyboard_content .key_button{
  /*height: 62px;*/
  /*width: 62px;*/
  margin-left: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 30px;
}
.keyboard_content, .content_block, .form_block, .keyboard, .keyboard_content{
  width: 950px;
}
.keyboard_center{
  width: 880px;
}
.keyboard_content .key_caps .caps_left, .keyboard_content .key_clear .clear_left{
  font-size: 20px;
}
</style>


    <div id="carousel-example-generic" class="carousel slide shops cat" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div>
            <a class="back-btm ajax-link" href="#" url="{% url 'main.views.home' %}"><img src="{{ STATIC_URL }}img/back-btm.png">Назад</a>
            <div class="page-title by-cat search" style="margin-top:45px; min-width:750px;">
                <form method="get" id="searchForm" action="/search/">
                        <input id="textarea" name="q" type="text" value="{{ query }}">
                        <input type="submit" class="search-submit" value="Искать"> 
                </form>
            </div>
        </div>
        {% if query %}
            <div class="carousel-inner shops search-carousel">
                {% for results in split_results %}
                    <div class="item{% if forloop.first %} active{% endif %}">
                      {% for result in results %}
                        <div class="cat-shop">
                            <a class="cat-shop ajax-link" href="#" url="{{ result.object.get_absolute_url }}">{{ result.object.title|safe }}</a>
                            <a href="#" url="{% url 'main.views.map' %}" class="floor-link ajax-link">{{ result.object.unit.floor }} {% trans 'уровень' %}</a>       
                        </div>
                      {% endfor %}
                    </div>
                {% empty %}
                    <p>Нет магазинов удовлетворяющих условиям поиска</p>
                {% endfor %}
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators shops">
                {% for results in split_results %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="my-indicator{% if forloop.first %} active{% endif %}">{{ forloop.counter }}</li>
                {% endfor %}
            </ol>
        {% else %}
            <div class="carousel-inner shops search-carousel">
              <p> </p>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators shops">
                {% for results in split_results %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="my-indicator{% if forloop.first %} active{% endif %}">{{ forloop.counter }}</li>
                {% endfor %}
            </ol>
        {% endif %}
                <!-- Form Line -->
        <div class="form_line">
            <div class="center">
                <div class="content_block">
                    <div class="form_block">
                        <div class="line">
                            <!-- <select class="form_lang">
                                <option value="0">English</option>
                                <option value="4">Hebrew</option>
                                <option value="2" >Russian</option>
                            </select> -->
                            <div class="shift_check" style="display:none;">
                                            <input id="shift_opt" type="checkbox">
                                            <label for="shift_opt">Shift</label>
                                          </div>
                        </div>
                        <div class="keyboard">
                            <div class="keyboard_top">
                            </div>
                            <div class="keyboard_center">
                                <div class="keyboard_content">
                                        <!-- <a class="key_button" title="\" name='1' href="#">\</a>
                                        <a class="key_button" title="=" name='2' href="#">=</a>
                                        <a class="key_button" title="-" name='3' href="#">-</a>
                                        <a class="key_button" title="0" name='4' href="#">0</a>
                                        <a class="key_button" title="9" name='5' href="#">9</a>
                                        <a class="key_button" title="8" name='6' href="#">8</a>
                                        <a class="key_button" title="7" name='7' href="#">7</a>
                    <a class="key_button" title="6" name='8' href="#">6</a>
                    <a class="key_button" title="5" name='9' href="#">5</a>
                    <a class="key_button" title="4" name='10' href="#">4</a>
                    <a class="key_button" title="3" name='11' href="#">3</a>
                    <a class="key_button" title="2" name='12' href="#">2</a>
                    <a class="key_button" title="1" name='13' href="#">1</a>
                     -->
                                </div>
                                <div class="keyboard_content second_line">
                                  <a class="key_button key_clear" title="Ctrl" href="#"><span title="Clear All" class="clear_left">СТЕРЕТЬ</span></a>
                                  <a class="key_button" title="[" name='16' href="#">[</a>
                                  <a class="key_button" title="p" name='17' href="#">p</a>
                                  <a class="key_button" title="o" name='18' href="#">o</a>
                                  <a class="key_button" title="i" name='19' href="#">i</a>
                                  <a class="key_button" title="u" name='20' href="#">u</a>
                                  <a class="key_button" title="y" name='21' href="#">y</a>
                                  <a class="key_button" title="t" name='22' href="#">t</a>
                                  <a class="key_button" title="r" name='23' href="#">r</a>
                                  <a class="key_button" title="e" name='24' href="#">e</a>
                                  <a class="key_button" title="w" name='25' href="#">w</a>
                                  <a class="key_button" title="q" name='26' href="#">q</a>
                                  
                                </div>
                                <div class="keyboard_content second_line">
                                <a class="key_button" title="~" name='14' href="#">~</a>
                                  <a class="key_button" title="]" name='15' href="#">]</a>
                                  <a class="key_button" title="'" name='27' href="#">'</a>
                                  <a class="key_button" title=";" name='28' href="#">;</a>
                                  <a class="key_button" title="l" name='29' href="#">l</a>
                                  <a class="key_button" title="k" name='30' href="#">k</a>
                                  <a class="key_button" title="j" name='31' href="#">j</a>
                                  <a class="key_button" title="h" name='32' href="#">h</a>
                                  <a class="key_button" title="g" name='33' href="#">g</a>
                                  <a class="key_button" title="f" name='34' href="#">f</a>
                                  <a class="key_button" title="d" name='35' href="#">d</a>
                                  <a class="key_button" title="s" name='36' href="#">s</a>
                                  <a class="key_button" title="a" name='37' href="#">a</a>
                                  <!-- <a class="key_button key_caps" title="Caps Lock" href="#"><span title="Caps Lock" class="caps_left">БОЛЬШИЕ БУКВЫ</span><span class="caps_right">&nbsp;</span></a> -->
                                  
                                </div>
                                <div class="keyboard_content second_line">
                                  <a class="key_button key_caps" title="Caps Lock" href="#"><span title="Caps Lock" class="caps_left">БОЛЬШИЕ БУКВЫ</span><!-- <span class="caps_right">&nbsp;</span> --></a>
                                  <a class="key_button" title="/" name='38' href="#">/</a>
                                  <a class="key_button" title="." name='39' href="#">.</a>
                                  <a class="key_button" title="," name='40' href="#">,</a>
                                  <a class="key_button" title="m" name='41' href="#">m</a>
                                  <a class="key_button" title="n" name='42' href="#">n</a>
                                  <a class="key_button" title="b" name='43' href="#">b</a>
                                  <a class="key_button" title="v" name='44' href="#">v</a>
                                  <a class="key_button" title="c" name='45' href="#">c</a>
                                  <a class="key_button" title="x" name='46' href="#">x</a>
                                  <a class="key_button" title="z" name='47' href="#">z</a>
                                  <!-- <a class="key_button key_shift" title="Shift" href="#"><span title="Caps Lock" class="shift_left">&nbsp;</span><span class="shift_right">Shift</span></a> -->
                                  

                                </div>
                                <div class="keyboard_content second_line">
                                  <a href="#" id="content-switcher" class="key_button key_caps" lang="6" style="font-size:21px; width:140px;"><span>ЦИФРЫ И ЗНАКИ</span></a>
                                  <a class="key_button key_space" title="z" href="#">Пробел</a>
                                  <!-- <a class="key_button key_ctrl" title="Ctrl" href="#"><span title="Ctrl" class="ctrl_left">Ctrl</span></a> -->
                                  <a href="#" id="lang-switcher" lang="0" style="width:100px">English</a>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script type="text/javascript" src="{{STATIC_URL}}js/languages.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/functions.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/keyboard.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.qtip.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('.search-submit').click(function(){
        // console.log('click');
        event.preventDefault();
        var url = '/search/?q='+$('[name="q"]').val();
        $.get( url, function( data ) {
            // $( "#content" ).html( data );
            $("#content")
                .fadeOut(300, function() {
                    $("#content").html(data);
            })
            .fadeIn(300);
        });
    });
    $('#lang-switcher').click(function(){
      event.preventDefault();
      var lang = $(this).attr('lang');
      lang = parseInt(lang);
      ChangeLang(lang);
      if (lang == 0){
        $(this).attr('lang', '2');
        $(this).text('Русский');
      }
      else{
        $(this).attr('lang', '0');
        $(this).text('English');
      }
    });

    $('#content-switcher').click(function(){
      event.preventDefault();
      var lang = $(this).attr('lang');
      lang = parseInt(lang);
      ChangeLang(lang);
      if (lang == 6){
        $(this).attr('lang', '2');
        $(this).text('БУКВЫ');
      }
      else{
        $(this).attr('lang', '6');
        $(this).text('ЦИФРЫ И ЗНАКИ');
      }
    });
});
</script>

    </div>
{% endblock %}
{% block postcontent %}
<ul id="navigator">
    <li><a href="#" class="ajax-link" url="{% url 'main.views.home' %}"><div>главная</div></a></li>
    <li class="search-icon active"><a href="#" url="/search/" class="ajax-link"><div><img src="{{STATIC_URL}}img/search-icon.png"></div></a></li>
    <li><a href="#" url="{% url 'main.views.about' %}" class="ajax-link"><div>атмосфера</div></a></li>
</ul>
<script src="{{ STATIC_URL }}js/ajax.js"></script>
{% endblock %}

