{#% extends "base.html" %#}
{% load i18n thumbnail get_comments %}

{% block content %}
<div class="shop-content news">
    <div style="background:url({{post.shop.background.url}}); background-color:#e9e9e9; padding-left:60px; padding-right:60px; padding-bottom:30px;">
        <div {% if post.shop.background %}class="white-title"{% endif %}>
            <a class="back-btm ajax-link" href="#" url="{% url 'main.views.home' %}"><img src="{{ STATIC_URL }}img/back-btm{% if post.shop.background %}_white{% endif %}.png">Назад</a>
            <div class="page-title by-cat" style="max-width:470px; margin-top:34px;"><img src="{{ STATIC_URL }}img/news_icon.png" align="left" style="margin-top:-10px">{{ post.shop.title|default:"Новости и Акции" }}</div>
        </div>
        <div class="row news-sales">

          {% for post in posts %}
            <div class="col-sm-4 col-md-4 col-lg-4 news-item">
              {% thumbnail post.image "220x220" crop="center" as im %}
                  <img class="" align="center" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="">
              {% endthumbnail %}
              <div class="news-title"><a href="#" class="ajax-link" url="{% url 'weblog.views.post' post.slug %}">{{ post.title }}</a></div>
              <div class="date">{{ post.updated_at|date:"d/m/y"}}</div>
              <div class="news-text">{{ post.intro|removetags:""|safe|truncatewords:20 }}</div>
            </div>
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block postcontent %}
<ul id="navigator">
    <li><a href="#" class="ajax-link" url="{% url 'main.views.map' %}"><img src="{{ STATIC_URL }}img/navigation_icon.png" align="left" style="margin-top:10px; margin-left:20px;"><div>Магазин на карте</div></a></li>
    <li class="search-icon"><a href="#" class="ajax-link" url="/search/"><div><img src="{{STATIC_URL}}img/search-icon.png"></div></a></li>
    <li><a href="#" class="ajax-link" url="{% url 'main.views.about' %}"><div>атмосфера</div></a></li>
</ul>
<script src="{{ STATIC_URL }}js/ajax.js"></script>
{% endblock %}