{#% extends "base.html" %#}
{% load i18n %}
{% load thumbnail %}
{% block content %}
<div class="shop-content news">
    <div style="background:url({{post.shop.background.url}}); background-color:#e9e9e9; padding-left:60px; padding-right:60px; padding-bottom:30px;">
        <div {% if post.shop.background %}class="white-title"{% endif %}>
            <a class="back-btm ajax-link" url="{% url 'weblog.views.index' %}" href="#"><img src="{{ STATIC_URL }}img/back-btm{% if post.shop.background %}_white{% endif %}.png">Назад</a>
            <div class="page-title by-cat">{{ post.shop.title|default:"Новости и Акции" }}</div>
        </div>
        <div class="row news-sales" style="height:800px;">
          <img src="{{ STATIC_URL }}img/news_icon.png" align="left" style="margin:15px 20px 0px 40px;">
          <div class="title" style="padding-bottom:10px;">Новости и Акции</div>
          <div class="col-sm-3 col-md-3 col-lg-3" style="padding-left:40px; padding-top:20px">
            {% thumbnail post.image "220x220" crop="center" as im %}
                <img class="" align="center" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="">
            {% endthumbnail %}
          </div>
          <div class="col-sm-7 col-md-7 col-lg-7 news-item" style="padding-left:20px; padding-top:25px;">
            <div class="news-title" style="margin-top:0;">{{ post.title }}</div>
            <div class="date">{{ post.updated_at|date:"d/m/y"}}</div>
            <div class="news-text">{{ post.content|removetags:""|safe }}</div>
            <a href="#" url="{% url 'main.views.shop' post.shop.slug %}" class="shop-card ajax-link"><img src="{{ STATIC_URL }}img/shop_card_icon.png" style="margin-right:20px;">Карточка магазина</a>
          </div>
        </div>
    </div>
</div>

{% endblock %}
{% block postcontent %}
<ul id="navigator">
    <li><a href="#" class="ajax-link" url="{% url 'main.views.map' %}"><img src="{{ STATIC_URL }}img/navigation_icon.png" align="left" style="margin-top:10px; margin-left:20px;"><div>Магазин на карте</div></a></li>
    <li class="search-icon"><a href="#" class="ajax-link" url="/search/"><div><img src="{{STATIC_URL}}img/search-icon.png"></div></a></li>
    <li><a href="#" class="ajax-link" url="{% url 'main.views.about' %}">атмосфера</a></li>
</ul>
<script src="{{ STATIC_URL }}js/ajax.js"></script>

{% endblock %}