{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="{{ STATIC_URL}}js/bootstrap.min.js"></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.marquee.min.js'></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('.marquee-wrapper').marquee({
            direction: 'left',
            duration: 20000,
        });
    });
    </script>
    <script type="text/javascript">
        var history = ['/home/'];
    </script>    
    

</head>
<body class="{% block bodyclass %}{% endblock %}">
<div class="wrapper">{% include 'header.html' %}</div>
<div id="content">

{% block content %}
{% endblock %}

{% block postcontent %}
{% endblock %}

</div>
<div class="wrapper">{% include 'footer.html' %}</div>
</body>
</html>