{% load thumbnail %}
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    {% for i in items %}
      {% if forloop.first %}
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      {% else %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class=""></li>
      {% endif %}
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for item in items %}      
	      <div class="item {% if forloop.first %}active{% endif %}">
          <a href="{{item.link}}">
	        <!-- <img src="{{MEDIA_URL}}{{item.image}}"> -->
          {% thumbnail item.image "1170x500" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
          </a>
	        <div class="carousel-caption">
	          <h4>{{item.title}}</h4>
	          <p>{{item.content|removetags:""|safe|truncatewords:50}}</p>
	        </div>
	      </div>
        
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon-prev"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon-next"></span></a>
</div>
