{#% extends "base.html" %#}
{% load i18n %}
{% load thumbnail %}
{#% block title %}{{ cat.title }}{% endblock %#}
{% block content %}
    <div id="carousel-example-generic" class="carousel slide shops cat" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div>
            <a class="back-btm ajax-link" href="#" url="{% url 'main.views.categories' cat.type %}"><img src="{{ STATIC_URL }}img/back-btm.png">Назад</a>
            <div class="page-title by-cat" {% if cat.title|length < 20 %}style="line-height:75px; margin-right:250px; margin-top:40px;"{% endif %}><img src="{{ MEDIA_URL }}{{cat.main_image|default:cat.image}}" {% if cat.title|length < 20 %}style="margin-top:0px;"{% endif %}>{{ cat.title }}</div>
        </div>
        <div class="shops-navigation">
            <a href="#" url="{% url 'main.views.map' %}?category={{cat.slug}}" class="shop-nav-btm ajax-link">{% trans 'На карте' %}</a>
            <a href="#" url="{% url 'main.views.categories' cat.type %}" class="shop-nav-btm active ajax-link">{% trans 'Списком' %}</a>
        </div>
        <div class="carousel-inner shops">
            {% for shops in split_shops %}
                <div class="item{% if forloop.first %} active{% endif %}">
                    {% for shop in shops %}
                    <div class="cat-shop">
                        <a class="cat-shop ajax-link" href="#" url="{% url 'main.views.shop' shop.slug %}">{{ shop.title|title }}</a>
                        <a href="#" url="{% url 'main.views.map' %}" class="floor-link ajax-link">{{ shop.unit.floor }} {% trans 'уровень' %}</a>       
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <!-- Indicators -->
        <ol class="carousel-indicators shops">
            {% for shops in split_shops %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="my-indicator{% if forloop.first %} active{% endif %}">{{ forloop.counter }}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
{% block postcontent %}
<ul id="navigator">
    <li><a href="#" class="ajax-link" url="{% url 'main.views.map' %}"><img src="{{ STATIC_URL }}img/navigation_icon.png" align="left" style="margin-top:10px; margin-left:20px; margin-right:-60px;"><div>карта</div></a></li>
    <li class="search-icon"><a href="#" class="ajax-link" url="/search/"><div><img src="{{STATIC_URL}}img/search-icon.png"></div></a></li>
    <li><a href="#" class="ajax-link" url="/about/"><div>атмосфера</div></a></li>
</ul>
<script src="{{ STATIC_URL }}js/ajax.js"></script>
{% endblock %}