{#% extends "base.html" %#}
{% load i18n %}
{% load thumbnail %}
{#% block title %}{% trans 'Shops' %}{% endblock %#}
{#% block bodyclass %}with-background{% endblock %#}
{% block content %}
    <div id="carousel-example-generic" class="carousel slide shops" data-ride="carousel">
        <!-- Wrapper for slides -->
        <a class="back-btm ajax-link" href="#" url="{% url 'main.views.home' %}"><img src="{{ STATIC_URL }}img/back-btm.png">Назад</a>
        <div class="page-title" {% if  type.0 == 'market' %}style="margin-right:30px;"{% endif %}><img src="{{ STATIC_URL }}img/{{type.0}}.png">{{ type.1 }}</div>
        <div class="carousel-inner shops">
            {% for categories in split_categories %}
                <div class="item{% if forloop.first %} active{% endif %}">
                    {% for category in categories %}
                        <a class="shop ajax-link" href="#" url="{% url 'main.views.category' category.type category.slug %}">
                            {% thumbnail category.image "64x64" crop="center" as im %}
                                <img align="center" src="{{ im.url }}" width="{{im.width}}" height="{{im.height}}">
                            {% endthumbnail %}
                            <p>{{ category.title }}</p>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <!-- Indicators -->
        <ol class="carousel-indicators shops">
            {% for categories in split_categories %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="my-indicator{% if forloop.first %} active{% endif %}">{{ forloop.counter }}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
{% block postcontent %}
<ul id="navigator">
    <li><a href="#" class="ajax-link" url="{% url 'main.views.map' %}"><div>карта</div></a></li>
    <li class="search-icon"><a href="#" class="ajax-link" url="/search/"><div><img src="{{STATIC_URL}}img/search-icon.png"></div></a></li>
    <li><a href="#" class="ajax-link" url="{% url 'main.views.about' %}"><div>атмосфера</div></a></li>
</ul>
<script src="{{ STATIC_URL }}js/ajax.js"></script>

{% endblock %}