{#% extends "base.html" %#}
{% load i18n %}
{% load thumbnail %}
{#% block title %}{% trans 'Events' %}{% endblock %#}
{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}eventcalendar/css/calendar.css"/>
<div class="shop-content events about">
    <div style="background-color:#61CCD6; padding-left:60px; padding-right:60px;">
        <div>
            <a class="back-btm ajax-link" href="#" url="{% url 'main.views.home' %}"><img src="{{ STATIC_URL }}img/back-btm_white.png">Назад</a>
            <div class="page-title by-cat"><img src="{{ STATIC_URL }}img/events.png" style="margin-top:-10px;">Календарь событий</div>
        </div>
        {{ dt|date:"F, Y" }}
        {{ calendar }}
        <a href="#" url="{% url 'eventcalendar.views.calendar' previous_dt|date:"Y" previous_dt|date:"m" %}" class="month-links left ajax-link"><img src="{{STATIC_URL}}img/back-btm_white_left.png" style="margin-right:6px"></a>
        <a href="#" url="{% url 'eventcalendar.views.calendar' next_dt|date:"Y" next_dt|date:"m" %}" class="month-links right ajax-link"><img src="{{STATIC_URL}}img/back-btm_white_right.png" style="margin-left:6px;"></a>
    </div>
</div>
{% endblock %}
{% block postcontent %}
<ul id="navigator">
    <li><a href="#" class="ajax-link" url="{% url 'main.views.map' %}"><img src="{{ STATIC_URL }}img/navigation_icon.png" align="left" style="margin-top:10px; margin-left:20px;"><div>Магазин на карте</div></a></li>
    <li class="search-icon"><a href="#" class="ajax-link" url="/search/"><div><img src="{{STATIC_URL}}img/search-icon.png"></div></a></li>
    <li><a href="#" class="ajax-link" url="{% url 'main.views.about' %}"><div>атмосфера</div></a></li>
</ul>
<script src="{{ STATIC_URL }}js/ajax.js"></script>
{% endblock %}