{#% extends "base.html" %#}
{% load i18n %}
{% load thumbnail %}
{% block content %}

<div class="shop-content news events">
    <div style="background:#61CCD6; padding-left:60px; padding-right:60px; padding-bottom:30px;">
        <div class="white-title">
            <a class="back-btm ajax-link" href="#" url="{% url 'eventcalendar.views.calendar' current_date|date:"Y" current_date|date:"m"  %}"><img src="{{ STATIC_URL }}img/back-btm_white.png">Назад</a>
            <div class="page-title by-cat"><img src="{{ STATIC_URL }}img/events.png">Календарь событий</div>
        </div>
        <div class="row news-sales">
            <div class="col-sm-3 col-md-3 col-lg-3">
            {% thumbnail event.image "220x220" as im %}
                <img class="" align="center" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="">
            {% endthumbnail %}
          </div>
          <div class="col-sm-9 col-md-9 col-lg-9 news-item" style="padding-left:20px;">
            <div class="news-title" style="margin-top:0;">{{ event.title }}</div><br>
            <div class="date">{{ event.date|date:"d/m/y"}}</div>
            <div class="news-text">{{ event.text }}</div>
            <a href="#" url="{% url 'main.views.shop' event.shop.slug %}" class="shop-card ajax-link"><img src="{{ STATIC_URL }}img/shop_card_icon.png" style="margin-right:20px;">Карточка магазина</a>

	    {% if previous_event %}
                <a href="#" url="{% url 'eventcalendar.views.event' previous_event.slug %}" class="month-links left ajax-link" style="margin-left:90px;"><span class="glyphicon glyphicon-chevron-left"></span></a>
	    {% endif %}            
            {% if next_event %}
        	<a href="#" url="{% url 'eventcalendar.views.event' next_event.slug %}" class="month-links right ajax-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
            {% endif %}
          </div>
      </div>
    </div>
</div>

{% endblock %}
{% block postcontent %}
<ul id="navigator">
    <li><a href="#" class="ajax-link" url="{% url 'main.views.map' %}?shop={{event.shop.slug}}"><img src="{{ STATIC_URL }}img/navigation_icon.png" align="left" style="margin-top:10px; margin-left:20px;"><div>Магазин на карте</div></a></li>
    <li class="search-icon"><a href="#" class="ajax-link" url="/search/"><div><img src="{{STATIC_URL}}img/search-icon.png"></div></a></li>
    <li><a href="#" class="ajax-link" url="{% url 'main.views.about' %}"><div>атмосфера</div></a></li>
</ul>
<script src="{{ STATIC_URL }}js/ajax.js"></script>
{% endblock %}