<div class="marquee-wrapper">
        <div><img src="{{ STATIC_URL }}img/tw.png" align="left">Мы открылись</div>
        <!--
        <div><img src="{{ STATIC_URL }}img/fb.png" align="left">Дизайнерский дом сантехники и плитки<br> ГАССИБ дарит новогодние скидки!</div>
        <div><img src="{{ STATIC_URL }}img/br.png" align="left">Британская компания Titchmarsh&Goodwin<br> открыла флагманский салон в Лондоне.</div>
        -->
</div>
