{#% extends "base.html" %#}
{% load i18n %}
{% load thumbnail %}
{% block content %}
<div class="shop-content news">
    <div style="background:url({{MEDIA_URL}}{{shop.background}}); background-color:#e9e9e9; padding-left:60px; padding-right:60px; padding-bottom:30px;">
        <div {% if shop.background %}class="white-title"{% endif %}>
            <a class="back-btm ajax-link" href="#" url="{% url 'main.views.shop' shop.slug %}"><img src="{{ STATIC_URL }}img/back-btm{% if shop.background %}_white{% endif %}.png">Назад</a>
            <div class="page-title by-cat">{{ shop.title|default:"Галерея магазина" }}</div>
        </div>
        <div class="row news-sales gallery">
          <!-- <img src="{{ STATIC_URL }}img/news_icon.png" align="left" style="margin:20px;"> -->
          <img src="{{ STATIC_URL }}img/gallery_icon.png" align="left" style="margin-left: 270px; margin-top: 20px; margin-right: -240px;">
          <div class="title gallery-title">Галерея магазина</div>
          <div class="carousel-inner" style="padding-left:20px; padding-right:20px;">
              {% for images in split_images %}
                  <div class="item{% if forloop.first %} active{% endif %}">
                      {% for image in images %}
                      <div class="image-wrapper">
                        {% thumbnail image.file "220x220" crop="center" as im %}
                            <img class="" align="center" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                      </div>
                      {% endfor %}
                  </div>
              {% endfor %}
          </div>
          <!-- Indicators -->
          <ol class="carousel-indicators shops">
              {% for images in split_images %}
                  <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="my-indicator{% if forloop.first %} active{% endif %}">{{ forloop.counter }}</li>
              {% endfor %}
          </ol>
        </div>
    </div>
</div>

{% endblock %}
{% block postcontent %}
<ul id="navigator">
    <li><a href="#" class="ajax-link" url="{% url 'main.views.map' %}"><img src="{{ STATIC_URL }}img/navigation_icon.png" align="left" style="margin-top:10px; margin-left:20px;"><div>Магазин на карте</div></a></li>
    <li class="search-icon"><a href="#" class="ajax-link" url="/search/"><div><img src="{{STATIC_URL}}img/search-icon.png"></div></a></li>
    <li><a href="#" class="ajax-link" url="{% url 'main.views.about' %}"><div>атмосфера</div></a></li>
</ul>
<script src="{{ STATIC_URL }}js/ajax.js"></script>
{% endblock %}