{#% extends "base.html" %#}
{% load i18n %}
{% load thumbnail %}
{#% block title %}{% trans 'About' %}{% endblock %#}
{#% block bodyclass %}about{% endblock %#}
{% block content %}
<div class="shop-content about">
    <div style="background-image:url({{STATIC_URL}}img/about_bg.jpg); background-color:#e9e9e9; padding-left:60px; padding-right:60px;">
        <div>
            <a class="back-btm ajax-link" href="#" url="{% url 'main.views.home' %}"><img src="{{ STATIC_URL }}img/back-btm_white.png">Назад</a>
            <div class="page-title by-cat">Продуктовый супермаркет</div>
        </div>


<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
       <p></p><p>Уникальное отличие нового Гурман Фуршет от других продуктовых супермаркетов - работа с лидерами рынка. Только лучшие бренды представлены на полках обновленного Гурман Фуршет. Живите красиво, питайтесь правильно!</p><p></p>
    </div>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>
</div>



    </div>
</div>
{% endblock%}
{% block postcontent %}
<ul id="navigator">
    <li><a href="#" class="ajax-link" url="{% url 'main.views.map' %}"><div>карта</div></a></li>
    <li class="search-icon"><a href="#" class="ajax-link" url="/search/"><div><img src="{{STATIC_URL}}img/search-icon.png"></div></a></li>
    <li><a href="#" class="ajax-link" url="{% url 'main.views.home' %}"><div>атмосфера</div></a></li>
</ul>
<script src="{{ STATIC_URL }}js/ajax.js"></script>

{% endblock %}