{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans 'Home' %}{% endblock %}
{% block bodyclass %}main{% endblock %}
{% block content %}
    <ul class='wlc-catalog'>
        {% for cat in categories %}
        <li>
            <a href="#" class="ajax-link" url="{% url 'main.views.categories' cat.slug %}">
                <img src="{{ STATIC_URL }}img/{{ cat.slug }}.png">
                <p>{{ cat.title }}</p>
            </a>
        </li>
        {% endfor %}
        <li>
            <a href="#" url="{% url 'weblog.views.index' %}" class="ajax-link">
                <img src="{{ STATIC_URL }}img/sales.png">
                <p>акции</p>
            </a>
        </li>
        <li>
            <a href="#" class="ajax-link" url="{% url 'eventcalendar.views.calendar' current_date|date:"Y" current_date|date:"m"  %}">
                <img src="{{ STATIC_URL }}img/events.png">
                <p>календарь событий</p>
            </a>
        </li>
    </ul>
{% endblock%}
{% block postcontent %}
<ul id="navigator">
    <li><a href="#" url="{% url 'main.views.map' %}" class="ajax-link"><div>карта</div></a></li>
    <li class="search-icon"><a href="#" url="/search/" class="ajax-link"><div><img src="{{STATIC_URL}}img/search-icon.png"></div></a></li>
    <li><a href="#" url="{% url 'main.views.about' %}" class="ajax-link"><div>атмосфера</div></a></li>
</ul>
<script src="{{ STATIC_URL }}js/ajax.js"></script>
{% endblock %}