{#% extends "base.html" %#}
{% load i18n %}
{% load thumbnail %}
{#% block title %}{% trans 'Map' %}{% endblock %#}
{% block content %}
<link rel="stylesheet" href="{{STATIC_URL}}leaflet-plugins/css/distance.css" />
<!-- <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.draw/leaflet.draw.css" /> -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/map.css"/>

 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
 <![endif]-->


<div class="map-content" style="background-color:#e9e9e9;">
	<div>
		{% if category %}
			<a class="back-btm ajax-link" href="#" url="{% url 'main.views.categories' cat_type %}"><img src="{{ STATIC_URL }}img/back-btm.png">Назад</a>
	    	<div class="page-title by-cat" {% if category.title|length < 20 %}style="line-height:75px; margin-right:250px; margin-top:40px;"{% endif %}><img src="{{ MEDIA_URL }}{{category.main_image|default:category.image}}" {% if category.title|length < 20 %}style="margin-top:0px;"{% endif %}>{{ category.title }}</div>
		{% else %}
			<a class="back-btm ajax-link" href="#" url="{% url 'main.views.home' %}"><img src="{{ STATIC_URL }}img/back-btm.png">Назад</a>
	    	<div class="page-title by-cat" style="margin-right:190px;"><img src="{{ STATIC_URL }}img/magaz-log.png"></div>
		{% endif %}
	    
	</div>
</div>
<div id="map-container" style="height: 800px;
    margin-bottom: 20px;
    font-family: 'UltimaPro';
    width:1080px;
    position: relative;">
    <div id="map" style="position:absolute !important;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding: 0;"></div>
</div>
<script src="{{STATIC_URL}}js/leaflet.js"></script>

<!-- <script src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js"></script> -->
<script src="{{STATIC_URL}}leaflet-plugins/layer/vector/GPX.js"></script>
<script src="{{STATIC_URL}}leaflet-plugins/control/Scale.js"></script>
<script src="{{STATIC_URL}}leaflet-plugins/control/Permalink.js"></script>
<script src="{{STATIC_URL}}leaflet-plugins/control/Permalink.Line.js"></script>
<script src="{{STATIC_URL}}leaflet-plugins/control/Distance.js"></script>
<script src="{{STATIC_URL}}leaflet-plugins/layer/leaflet.polylineDecorator.js"></script>
<!-- <script src="{{ STATIC_URL}}js/geojson.js"></script> -->
<script type="text/javascript">
	var STATIC_URL = '{{ STATIC_URL }}';
	var unitDataLevel1 = {{ geo_json_level1|safe }};
    var unitDataLevel2 = {{ geo_json_level2|safe }};
	{% if cat_slug and cat_type %}
	var	cat_type = '{{ cat_type }}',
		cat_slug = '{{ cat_slug }}';
	{% endif %}
</script>
<script src="{{ STATIC_URL}}js/map.js"></script>
{% endblock %}
{% block postcontent %}
<ul id="navigator">
    <li><a href="#" class="ajax-link" url="{% url 'main.views.home' %}"><!-- <img src="{{ STATIC_URL }}img/navigation_icon.png" align="left" style="margin-top:10px; margin-left:20px;"> --><div>Главная страница</div></a></li>
    <li class="search-icon"><a href="#" class="ajax-link" url="/search/"><div><img src="{{STATIC_URL}}img/search-icon.png"></div></a></li>
    <li><a href="#" class="ajax-link" url="{% url 'main.views.about' %}"><div>атмосфера</div></a></li>
</ul>
<script src="{{ STATIC_URL }}js/ajax.js"></script>
{% endblock %}