{#% extends "base.html" %#}
{% load i18n %}
{% load thumbnail %}
{% load qr_tags %}
{#% block title %}{% trans 'Shop' %} | {{shop.title}}{% endblock %#}
{% block content %}
<!-- <div class="bg-shop"> -->
<div class="shop-content">
    <div style="background-image:url({{MEDIA_URL}}{{shop.background}}); background-color:#e9e9e9; padding-left:60px; padding-right:60px;">
        <div {% if shop.background %}class="white-title"{% endif %}>
            <a class="back-btm ajax-link" href="#" url="{% url 'main.views.category' categories.0.type categories.0.slug %}"><img src="{{ STATIC_URL }}img/back-btm{% if shop.background %}_white{% endif %}.png">Назад</a>
            <div class="page-title by-cat">{{ shop.title }}</div>
        </div>
        <div class="row shop-info">
            <div class="col-sm-2 col-md-2 col-lg-2 left-col">
                {% thumbnail shop.image "130x130" as im %}
                    <img class="" align="center" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                <br>
                <a href="#" url="{% url 'main.views.gallery' shop.slug %}" class="gallery-link ajax-link">
                    <img src="{{ STATIC_URL }}img/gallery_icon.png" align="center" style="margin-bottom:20px;">
                    Галерея магазина
                </a>
                <br>
                {% if shop.discount %}
                    <img src="{{ STATIC_URL }}img/discount_icon.png" align="center" style="margin-left:30px; margin-bottom:20px">
                    <div>Участник программы скидок</div>
                {% endif %}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                {{shop.content|removetags:""|safe}}
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left:33px; padding-top:45px;">
                {% for cat in categories %}
                    <div class="category-info">
                        
                        {% thumbnail cat.main_image "60x60" as im %}
                            <img class="" align="left" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="margin-right:10px; margin-top:0px;">
                        {% endthumbnail %}
                        <div {% if cat.slug == 'shoes' or cat.slug == 'flowers' %} style="padding-top:10px;"{% endif %}><a href="#" class="ajax-link" url="{% url 'main.views.map' %}?category={{cat.slug}}">{{cat.title}}</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row news-sales">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="{{ STATIC_URL }}img/news_icon.png" align="left" style="margin-right:10px; margin-top:-15px;">
                <div class="title"><a href="#" url="{% url 'weblog.views.index' %}" class="news-link ajax-link">Новости и Акции<a/></div>
            
                <div class="row">
                    {% for item in news %}
                    <div class="col-sm-4 col-md-4 col-lg-4 news">
                        <a href="#" url="{% url 'weblog.views.post' item.slug %}" class="news-link ajax-link">{{ item.intro|removetags:""|safe|truncatewords:15 }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
</div>
{% endblock %}
{% block postcontent %}
<ul id="navigator">
    <li><a href="#" class="ajax-link" url="{% url 'main.views.map' shop.slug %}"><img src="{{ STATIC_URL }}img/navigation_icon.png" align="left" style="margin-top:10px; margin-left:20px;"><div>Магазин на карте</div></a></li>
    <li class="search-icon"><a href="#" class="ajax-link" url="/search/"><div><img src="{{STATIC_URL}}img/search-icon.png"></div></a></li>
    <li><a href="#" class="ajax-link" url="{% url 'main.views.about' %}"><div>атмосфера</div></a></li>
</ul>
<script src="{{ STATIC_URL }}js/ajax.js"></script>
{% endblock %}