{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{{ cat.title }}{% endblock %}
{% block content %}
    <div id="carousel-example-generic" class="carousel slide shops cat" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div>
            <a class="back-btm" href="/"><img src="{{ STATIC_URL }}img/back-btm.png">{% trans 'Back' %}</a>
            <div class="page-title by-cat"><img src="{{ STATIC_URL }}img/magaz-log.png">{{ cat.title }}</div>
        </div>
        <div class="shops-navigation">
            <div class="shop-nav-btm">{% trans 'На карте' %}</div>
            <div class="shop-nav-btm active">{% trans 'Списком' %}</div>
        </div>
        <div class="carousel-inner shops">
            {% for shops in split_shops %}
                <div class="item{% if forloop.first %} active{% endif %}">
                    {% for shop in shops %}
                        <a class="cat-shop" href="{% url 'main.views.shop' shop.slug %}">
                            <p>{{ shop.title|title }}</p>
                            <span>{{ shop.unit.floor }} {% trans 'уровень' %}</span>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <!-- Indicators -->
        <ol class="carousel-indicators shops">
            {% for shops in split_shops %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="my-indicator{% if forloop.first %} active{% endif %}">{{ forloop.counter }}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}