{% load thumbnail %}
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    {% for item in items %}      
	      <div class="item {% if forloop.first %}active{% endif %}">
          <h2>{{ item.title }}</h2>
	        <p>{{ item.content|removetags:""|safe }}</p>
	      </div>
    {% endfor %}
  </div>
  <ol class="carousel-indicators">
    {% for i in items %}
      {% if forloop.first %}
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      {% else %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class=""></li>
      {% endif %}
    {% endfor %}
  </ol>
</div>