.day-num{
    display: inline-block;
    position: relative;
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    line-height: 80px;
    /*margin-right: -135px;*/
}
.event-link{
    display: inline-block;
    height: 125px;
    width: 140px;
    line-height: 125px;
}
td.filled img{
    margin-left: 25px;
    margin-right: -25px;
}
table.month th{
    display: none;
    /*background: #000;*/
}
table.month td{
    background: #fff;
    width: 140px;
    height: 125px;
}
table.month tr, table.month tr td{
    border: 5px solid #61CCD6;
}
table.month td.noday div{
    background: #61CCD6;
    height: 125px;
    /*width: 130px;*/
    margin: 0 auto;
    border: 5px solid #fff;
}
table.month{
    width: 970px;
    margin: 0 auto;
    margin-left: -5px;
}
.month-links{
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 92px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    border: 5px solid #61CCD6;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
.month-links:hover{
    background: #61CCD6;
    border: 5px solid #fff;
}