{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{{ banner.title }}{% endblock %}
{% block content %}


<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12 ui-tabs ui-widget ui-widget-content ui-corner-all">
        <form id="bannerUpdate" method="post" action="" class="form-horizontal" enctype="multipart/form-data" class="dashboard post">{% csrf_token %}
                <legend>{{banner.title|title}}</legend>
                {% if msg %}<div class="alert alert-success">{{ msg }}</div>{% endif %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %}error{% endif %}">
                        <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ field }}
                            {% for err in field.errors %}
                                <div class="alert alert-danger">{{ err }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <button type="submit" name="delete" class="btn btn-danger">Удалить</button>
                        
                    </div>
                </div>
            </form>
    </div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/urlify.js"></script>
<script type="text/javascript">
document.getElementById("id_title").onkeyup = function() {
    var e = document.getElementById("id_slug");
    if (!e._changed) { e.value = URLify(document.getElementById("id_title").value, 50); }
}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>

{% endblock%}