{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load qr_tags %}
{% block title %}{% trans 'Banners' %}{% endblock %}
{% block content %}
<div class="container">
    <h1>Для изменения объекта выберите из списка!</h1><a href="{% url 'dashboard.views.banner_create' %}"><button type="button" class="btn btn-success">Создать</button></a>
    <hr>
    <div class="col-sm-12 col-md-12 col-lg-12 well">
        <div class="row list-headers">
            <div class="col-sm-3 col-md-3 col-lg-3">Название</div>
            <div class="col-sm-4 col-md-4 col-lg-4">Картинка</div>
            <div class="col-sm-3 col-md-3 col-lg-3">Контент</div>
            <div class="col-sm-2 col-md-2 col-lg-2">slug</div>
        </div>
    </div>
    {% for banner in banners %}
    <a href="{% url 'dashboard.views.banner_update' banner.slug %}" class="shop">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row list-item">
                <div class="col-sm-3 col-md-3 col-lg-3">{{ banner.title }}</div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    {% thumbnail banner.image "250x200" crop="center" as im %}
                        <img class="thumbnail" align="left" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="margin:10px;">
                    {% endthumbnail %}
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">{{ banner.text }}</div>
                <div class="col-sm-2 col-md-2 col-lg-2">{{ banner.slug }}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock%}