{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% trans 'Dashboard' %} | {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-glyphicons.css"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css"/>
    {% block extrastyle %}{% endblock %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="{{ STATIC_URL}}js/bootstrap.min.js"></script>
    
</head>
<body class="dashboard">
 

<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

    <!-- start header -->
    {% include 'dashboard/header.html' %}
    <!-- end header -->

    <!-- start content -->
    {% block content %}  
    {% endblock %}
    <!-- end content -->
    <!-- start footer -->
    {#% include 'footer.html' %#}
    <!-- end footer -->
    {% block extrajs %}
    {% endblock %}

</body>
</html>