{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans 'Categories' %}{% endblock %}
{% block content %}
<div class="container">
    <h1>Для изменения объекта выберите из списка</h1><a href="{% url 'dashboard.views.category_create' %}"><button type="button" class="btn btn-success">Создать</button></a>
    <hr>
    <div class="col-sm-12 col-md-12 col-lg-12 well">
        <div class="row list-headers">
            <div class="col-sm-6 col-md-6 col-lg-6">Название</div>
            <div class="col-sm-5 col-md-5 col-lg-5">URL</div>
            <div class="col-sm-1 col-md-1 col-lg-1">Порядок</div>
        </div>
    </div>
    {% for category in categories %}
    <a href="{% url 'dashboard.views.category_update' category.slug %}" class="shop">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row list-item">
                <div class="col-sm-6 col-md-6 col-lg-6">{{ category.title }}</div>
                <div class="col-sm-5 col-md-5 col-lg-5">{{category.slug}}</div>
                <div class="col-sm-1 col-md-1 col-lg-1">{{category.order}}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock%}