{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans 'Events' %}{% endblock %}
{% block content %}
<div class="container">
    <h1>Для изменения объекта выберите из списка!</h1><a href="{% url 'dashboard.views.event_create' %}"><button type="button" class="btn btn-success">Создать</button></a>
    <hr>
    {% for event in events %}
    <a href="{% url 'dashboard.views.event_update' event.slug %}" class="shop">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row list-item">
                <div class="col-sm-4 col-md-4 col-lg-4"><h4>{{ event.title }}</h4></div>
                <div class="col-sm-5 col-md-5 col-lg-5">
                    {{event.text|truncatewords:40}}
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">{{ event.unit }}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock%}