{% load i18n %}
<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'dashboard.views.index' %}">{% trans 'Dashboard' %}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="{% url 'dashboard.views.shops' %}">{% trans 'Shops' %}</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Магазины <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'dashboard.views.shops' %}?lang=all">Список магазинов</a></li>
            <li><a href="{% url 'dashboard.views.shop_create' %}">Создать магазин</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'dashboard.views.categories' %}?lang=all">Категории</a></li>
            <li><a href="{% url 'dashboard.views.category_create' %}">Новая категория</a></li>
          </ul>
        </li>
        <li><a href="{% url 'dashboard.views.posts' %}?lang=all">Новости и акции</a></li>
        <li><a href="{% url 'dashboard.views.events' %}?lang=all">События</a></li>
        <li><a href="{% url 'dashboard.views.playlists' %}">Видео менеджер</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Баннеры <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'dashboard.views.banners' %}">Список баннеров</a></li>
            <li><a href="{% url 'dashboard.views.banner_create' %}">Создать баннер</a></li>
          </ul>
        </li>
        <li><a href="{% url 'main.views.index' %}">Посмотреть сайт</a></li>
      </ul>

      
    </div><!-- /.navbar-collapse -->
  </nav>
</div>