{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans 'Main page' %}{% endblock %}
{% block content %}
<div class="container">
    <h1>Дашбоард</h1>
</div>
{% endblock%}