{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{{ playlist.title }}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.css"/>
{% endblock %}

{% block content %}

<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">
        {% if playlist %}
        <div class="btn-group">
            <a href="/upload/video/basic/plus/{{playlist.slug}}/"><button type="button" class="btn btn-default">Загрузка видео</button></a>
            <a href="{% url 'dashboard.views.videos' playlist.slug %}"><button type="button" class="btn btn-default">Последовательность видео</button></a>
        </div>
        {% endif %}
        <form id="shopUpdate" method="post" action="" class="form-horizontal" enctype="multipart/form-data" class="dashboard shop">{% csrf_token %}
                <legend>{{playlist.title|title}}</legend>
                {% if msg %}<div class="alert alert-success">{{ msg }}</div>{% endif %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %}error{% endif %}">
                        <label {% if field.name == 'duration' %}style="display:none;"{% endif %} class="col-sm-2 control-label">{{ field.label_tag }}</label>
                        <div class="col-sm-10">
                            {% if field.name == 'date' %}
                                <div class="input-append input-group datepicker"  data-date="{{ field.value|date:"d-m-Y" }}" data-date-format="dd-mm-yyyy">
                                  <input name="{{ field.name }}" data-date-format="dd-mm-yyyy" class="form-control add-on datepicker" size="16" type="text" value="{{ field.value|date:"d-m-Y" }}">
                                  <span class="input-group-addon add-on">
                                       <span class="glyphicon glyphicon-calendar"></span>
                                   </span>
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                            {% for err in field.errors %}
                                <div class="alert alert-danger">{{ err }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">{% trans 'Сохранить' %}</button>
                        <button type="submit" name="delete" class="btn btn-danger">{% trans 'Удалить' %}</button>
                    </div>
                </div>
            </form>
    </div>
</div>
{% endblock%}

{% block extrajs %}

<script type="text/javascript" src="{{ STATIC_URL }}admin/js/urlify.js"></script>
<script type="text/javascript">
document.getElementById("id_title").onkeyup = function() {
    var e = document.getElementById("id_slug");
    if (!e._changed) { e.value = URLify(document.getElementById("id_title").value, 50); }
}
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function($){    
        $('.datepicker').datepicker({format: 'dd-mm-yyyy'});
    });
</script>
{% endblock %}