{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans 'Playlists' %}{% endblock %}
{% block content %}
<div class="container">
    <h1>Для изменения объекта выберите из списка!</h1><a href="{% url 'dashboard.views.playlist_create' %}"><button type="button" class="btn btn-success">Создать</button></a>
    <hr>
    <div class="col-sm-12 col-md-12 col-lg-12 well">
        <div class="row list-headers">
            <div class="col-sm-3 col-md-3 col-lg-3">Название</div>
            <div class="col-sm-4 col-md-4 col-lg-4">URL</div>
            <div class="col-sm-3 col-md-3 col-lg-3">Длина</div>
            <div class="col-sm-2 col-md-2 col-lg-2">Дата</div>
        </div>
    </div>
    {% for playlist in playlists %}
    <a href="{% url 'dashboard.views.playlist_update' playlist.slug %}" class="shop">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row list-item">
                <div class="col-sm-3 col-md-3 col-lg-3">{{ playlist.title }}</div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    {{playlist.slug}}
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">{{ playlist.get_duration.hours }} часов {{ playlist.get_duration.minutes }} минут {{ playlist.get_duration.seconds }} секунд</div>
                <div class="col-sm-2 col-md-2 col-lg-2">{{ playlist.date|date:"d-m-Y" }}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock%}