{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<div class="container">
  <div class="col-sm-12 col-md-12 col-lg-12 entry">
    <div class="btn-group">
        <a href="{% url 'dashboard.views.post_update' post.slug %}" ><button type="button" class="btn btn-primary">Изменить</button></a>
        <a href="{% url 'dashboard.views.shop_posts' post.shop.slug %}"><button type="button" class="btn btn-default">Назад</button></a>
    </div>
    <h1 class="">{{post.title|title}}</h1>
    {% thumbnail post.image "250x200" crop="center" as im %}
      <img class="thumbnail" align="left" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="margin:10px; margin-left:0;">
    {% endthumbnail %}
    {{post.content|safe|truncatewords:100}}
  <hr style="margin:10px 0">
  </div>
{% endblock %}