{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans 'News and sales' %}{% endblock %}
{% block content %}
<div class="container">
    <h1>Для изменения объекта выберите из списка</h1><a href="{% if shop %}{% url 'dashboard.views.post_create' shop.slug %}{% else %}{% url 'dashboard.views.post_create' %}{% endif %}"><button type="button" class="btn btn-success">Создать</button></a>
    <hr>
    {% for post in posts %}
    <a href="{% url 'dashboard.views.post_preview' post.slug %}" class="shop">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row list-item">
                <div class="col-sm-4 col-md-4 col-lg-4">{{ post.title }}</div>
                <div class="col-sm-5 col-md-5 col-lg-5">
                    {{post.intro|removetags:""|safe|truncatewords:40}}
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    {{post.shop}}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock%}