{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load qr_tags %}
{% block title %}{% trans 'Shops' %}{% endblock %}
{% block content %}
<div class="container">
    <h1>Для изменения объекта выберите из списка!</h1><a href="{% url 'dashboard.views.shop_create' %}"><button type="button" class="btn btn-success">Создать</button></a>
    <hr>
    <div class="col-sm-12 col-md-12 col-lg-12 well">
        <div class="row list-headers">
            <div class="col-sm-3 col-md-3 col-lg-3">Название</div>
            <div class="col-sm-4 col-md-4 col-lg-4">Контент</div>
            <div class="col-sm-3 col-md-3 col-lg-3">Юнит</div>
            <div class="col-sm-2 col-md-2 col-lg-2">График работы</div>
        </div>
    </div>
    {% for shop in shops %}
    <a href="{% url 'dashboard.views.shop_preview' shop.slug %}" class="shop">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row list-item">
                <div class="col-sm-3 col-md-3 col-lg-3">{{ shop.title }}</div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    {{shop.content|removetags:""|safe|truncatewords:40}}
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">{{ shop.unit }}</div>
                <div class="col-sm-2 col-md-2 col-lg-2">{{ shop.open_time }} - {{ shop.close_time }}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock%}