{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{{ shop.title }}{% endblock %}



{% block content %}
<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="btn-group">
            <a href="{% url 'dashboard.views.shop_update' shop.slug %}" ><button type="button" class="btn btn-primary">Изменить</button></a>
            <a href="/upload/basic/plus/{{shop.slug}}/"><button type="button" class="btn btn-default">Менеджер галереи</button></a>
            <a href="{% url 'dashboard.views.shop_posts' shop.slug %}"><button type="button" class="btn btn-default">Менеджер новостей и акции</button></a>
        </div>
        <h4>{{ shop.title }}</h4>
        <div>{{shop.content|removetags:""|safe|truncatewords:150}}</div>
    </div>
    {% if images %}
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h4>Галерея</h4>
        <div class="row">
            {% for image in images %}
            <div class="col-sm-2 col-md-2 col-lg-2">
                <h4>{{ image.title|title|truncatechars:20 }}</h4>
                {% thumbnail image.file "150x100" crop="center" as im %}
                    <img class="thumbnail" align="center" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                {{ image.description|removetags:""|safe|truncatewords:40 }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}