{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{{ shop.title }}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-timepicker.css"/>
{% endblock %}

{% block content %}

<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <form id="shopUpdate" method="post" action="" class="form-horizontal" enctype="multipart/form-data" class="dashboard shop">{% csrf_token %}
                <legend>{{shop.title|title}}</legend>
                {% if msg %}<div class="alert alert-success">{{ msg }}</div>{% endif %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %}error{% endif %}">
                        {% if field.name == 'open_time' or field.name == 'close_time' %}
                                <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
                                <div class="col-sm-4">
                                    
                                    <div class="input-append bootstrap-timepicker input-group">
                                        <input id="{{ field.id }}" type="text" data-default-time="{{field.value}}" name="{{ field.name }}" class="form-control timepicker add-on">
                                        <span class="input-group-addon add-on">
                                           <span class="glyphicon glyphicon-time"></span>
                                       </span>
                                    </div>
                                </div>
                                {% for err in field.errors %}
                                    <div class="alert alert-danger">{{ err }}</div>
                                {% endfor %}                        {% else %}
                            <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
                            <div class="col-sm-10">
                                {{ field }}
                            {% for err in field.errors %}
                                <div class="alert alert-danger">{{ err }}</div>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">{% trans 'Сохранить' %}</button>
                        <button type="submit" name="delete" class="btn btn-danger">{% trans 'Удалить' %}</button>
                    </div>
                </div>
            </form>
    </div>
</div>
{% endblock%}

{% block extrajs %}
<!-- <script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script> -->
<!-- <script type="text/javascript" src="{% url "tinymce-js" "dashboard" %}"></script> -->
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/urlify.js"></script>
<script type="text/javascript">
document.getElementById("id_title").onkeyup = function() {
    var e = document.getElementById("id_slug");
    if (!e._changed) { e.value = URLify(document.getElementById("id_title").value, 50); }
}
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function($){    
        $('.timepicker').timepicker({
            minuteStep: 10,
            template: 'dropdown',
            // appendWidgetTo: 'body',
            showSeconds: false,
            showMeridian: false,
            // defaultTime: '9:00'
        });
    });
</script>
{% endblock %}