{% extends "dashboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans 'Videos sequence' %}{% endblock %}
{% block content %}
<div class="container">
    <h1>Для изменения последовательности перетащите видео нажав на значок <span class="glyphicon glyphicon-th"></span></h1>
    <hr>
    <div class="col-sm-12 col-md-12 col-lg-12 well">
        <div class="row list-headers">
            <div class="col-sm-2 col-md-2 col-lg-2">Порядок</div>
            <div class="col-sm-2 col-md-2 col-lg-2">Видео</div>
            <div class="col-sm-2 col-md-2 col-lg-2">Плейлист</div>
            <div class="col-sm-2 col-md-2 col-lg-2">Дата</div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <ul class="sortable">
        {% for video in videos %}
            <li>
                <div class="handle"><span class="glyphicon glyphicon-th"></span></div>
                <div class="order">{{ video.order }}</div>
                <div class="video_id" style="display:none;">{{ video.id }}</div>
                <div><a href="{{ MEDIA_URL }}{{ video.file }}">Посмотреть видео</a></div>
                <div >{{video.playlist}}</div>
                <div >{{video.playlist.date|date:"d-m-Y"}}</div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.sortable.min.js"></script>
<script type="text/javascript">
// next is for django csrf token mechanism
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
var csrftoken = getCookie('csrftoken');
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    },
    error:function(XMLHttpRequest,textStatus, errorThrown) {  
      console.log('error happens');
      console.log(textStatus);
      console.log(errorThrown);
      console.log(XMLHttpRequest.responseText);
  }
});
// end csrf token mechanism
$('.sortable').sortable({handle: '.handle'}).bind('sortupdate', function() {
    var video_list = {};

    $('ul.sortable li').each(function( index ) {
        video_list[$(this).children('div.video_id').text()] = index.toString();
        // console.log($(this).children('div.video_id').text() + ' ' + $(this).children('div.order').text() + ' ' + index );
    });
    console.log(video_list);
    $.ajax({url:"/dashboard/video/update/", type:"POST", data:video_list, dataType:"json", 
        success:function(response){
            $('ul.sortable li').each(function( index ) {
                console.log($(this).children('div.video_id').text());
                console.log(response.videos);
                var elem = $(this).children('div.order');
                var elem_id = $(this).children('div.video_id').text();
                $(elem).fadeOut(function() {
                    $(this).text(response.videos[elem_id]).fadeIn();
                });
            }); 
        }
        
    });
});
</script>

{% endblock%}