<img src="" id="banner">
<script type="text/javascript">
    var get_banner_url = "{% url 'adapp.views.get_banner' %}";
</script>
<script type="text/javascript" src="{{ STATIC_URL }}adapp/js/main.js"></script>